* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

/* Reset de estilos */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Estilos del encabezado */
header {
  background-color: #333;
  padding: 20px 0;
  z-index: 100;
  position: relative;
}

/* Estilos para el botón de WhatsApp */
.bola-container {
  position: fixed;
  width: 200px;
  height: 200px;
  top: 650px;
  left: 1400px;
  z-index: 999999;
}

.operador-img {
  width: 30%;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
}

.botones-container {
  display: none;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

.botones-container.active {
  display: flex;
}

.botones-container a,
.botones-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
}

.botones-container a:nth-child(1) {
  top: -15px;
  left: -10px;
  text-decoration: none;
  transform: translateX(-50%) translateY(-100px);
}

.botones-container a:nth-child(2) {
  top: -85px;
  right: 180px;
  text-decoration: none;
  transform: translateX(100px) translateY(-50%);
}

.botones-container a:nth-child(3) {
  bottom: 0;
  top: -135px;
  left: 50%;
  text-decoration: none;
  transform: translateX(-50%) translateY(100px);
}

.botones-container a:nth-child(4) {
  top: -5px;
  left: -10px;
  text-decoration: none;
  transform: translateX(-100px) translateY(-50%);
}

/* Estilos adicionales para los botones de las redes sociales */
.whatsapp-button {
  background-color: green;
}

.facebook-button {
  background-color: blue;
}

.discord-button {
  background-color: purple;
}


nav {
  display: flex;
  /* align-items:baseline; */
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.logo h1 {
  color: #fff;
  font-size: 24px;
}

/* HAMBURGUESA */

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu .line {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  *margin-left: 20px;
}

.li {
  margin-left: 20px;
}

.hr {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.menu a:hover {
  color: red;
}

/* MENU GRUPOS */
.mega-menu-c {
  position: relative;
}

.flecha-c {
  position: absolute;
  top: -13px;
  left: 525px;
  color: white;
}

.mega-menu-content-c {
  display: none;
  position: absolute;
  top: 115%;
  right: -660px;
  width: 1200px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999999;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 2fr));
}

.mega-menu-content-c .column-c {
  width: 28.33%;
  float: left;
  padding: 0 10px;
}

.mega-menu-content-c .column-c ul {
  list-style: none;
  padding: 0;
  ;
}

.mega-menu-content-c .column-c ul a {
  color: black;
}

.mega-menu-content-t .column-c ul a:hover {
  color: red;
}

.mega-menu-content-c .column-c h3 {
  margin-bottom: 10px;
  text-decoration: underline;
}

.mega-menu-content-c h1,
p {
  text-align: center;
}

.mega-menu-c:hover .mega-menu-content-c {
  display: block;
}

.column-c span {
  color: red;
}

.column-c .p {
  text-align: left;
}

.column-c img {
  cursor: pointer;
}

.caja {
  display: flex;
  justify-content: center;
  margin-left: 43px;
}

.separacion {
  margin-right: 27px;
  top: 80px;
  position: relative;
}

/* MENU TIENDA */
.mega-menu-t {
  position: relative;
}

.flecha-t {
  position: absolute;
  top: -13.1px;
  left: 600px;
  color: white;
}

.mega-menu-content-t {
  display: none;
  position: absolute;
  top: 115%;
  right: -585px;
  width: 1200px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.mega-menu-content-t .column-t {
  width: 28.33%;
  float: left;
  padding: 0 10px;
}

.mega-menu-content-t .column-t ul {
  list-style: none;
  padding: 0;
  ;
}

.mega-menu-content-t .column-t ul a {
  color: black;
}

.mega-menu-content-t .column-t ul a:hover {
  color: red;
}

.mega-menu-content-t .column-t h3 {
  margin-bottom: 10px;
  text-decoration: underline;
}

.mega-menu-t:hover .mega-menu-content-t {
  display: block;
}

/* MENU EMPLEO */
.mega-menu-e {
  position: relative;
}

.flecha-e {
  position: absolute;
  top: -13px;
  left: 400px;
  color: white;
}

.mega-menu-content-e {
  display: none;
  position: absolute;
  top: 115%;
  right: -140px;
  width: 600px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.mega-menu-content-e .column-e {
  width: 28.33%;
  float: left;
  padding: 0 10px;
}

.mega-menu-content-e .column-e ul {
  list-style: none;
  padding: 0;
  ;
}

.mega-menu-content-e .column-e ul a {
  color: black;
}

.mega-menu-content-e .column-e ul a:hover {
  color: red;
}

.mega-menu-content-e .column-e h3 {
  margin-bottom: 10px;
  text-decoration: underline;
}

.mega-menu-e:hover .mega-menu-content-e {
  display: block;
}

.column-e ul li .a {
  color: red;
}

/* FIN MENUS */

.auth-buttons {
  display: flex;
}

.login-button {
  border-style: solid;
  border-color: rgb(3, 0, 201);
  background-color: rgb(0, 98, 255);
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.login-button:hover {
  border-color: rgb(7, 3, 255);
  background-color: rgb(1, 69, 177);
}

.register-button {
  border-style: solid;
  border-color: red;
  background-color: transparent;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.register-button:hover {
  border-color: rgb(203, 2, 2);
  color: red;
}

.social-icons {
  top: 3px;
  right: 4px;
  position: relative;
  text-align: center;
}

.social-icons a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
  top: 2px;
  position: relative;
}

.social-icons p {
  color: white;
  top: -6px;
  left: 5px;
  position: relative;
}

/* Estilos del carrusel */
/* Estilos del carrusel */
.carousel {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  z-index: 1;
}

.caption h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.caption p {
  font-size: 16px;
}

/* ABIERTO */
.sale-badge {
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: green;
  border-style: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  z-index: 15;
  animation: fadeBadge 8s infinite;
}

.sale-badge span {
  margin-right: 5px;
}

@keyframes fadeBadge {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/* CERRADO */
.cerrado {
  position: absolute;
  top: 90px;
  right: 20px;
  background-color: yellow;
  border-style: none;
  border-radius: 5px;
  color: black;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  z-index: 150;
  animation: cerrado 8s infinite;
}

.cerrado span {
  margin-right: 5px;
}

@keyframes cerrado {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/* Barra ocultadora de derechos haha */
.content {
  background-color: #FFD700;
  padding: 20px;
  position: absolute;
  top: 878px;
  width: 1479px;
  z-index: 99999;
}

.circ {
  width: 150px;
}

.titulosobresaliente h1 {
  width: 500px;
  color: black;
  margin-left: 55px;
  top: -570px;
  position: relative;
  text-align: center;
  transform: rotate(-14deg);
}

.titulosobresaliente span {
  color: yellow;
  text-shadow: 2px 2px #222;
}

/* Estilos del contenido */
.content-section {
  display: flex;
  padding: 2em;
  justify-content: flex-start;
}

.titulosobresaliente {
  width: 100%;
  text-align: center;
  padding: 2em 0;
  position: absolute;
  left: 560px;
  top: 1550px;
}

.titulosobresaliente h1 {
  font-size: 2.5em;
  font-weight: bold;
}

.titulosobresaliente span {
  color: red;
}

.contenido-all {
  display: flex;
  justify-content: space-between;
}

.contenido {
  width: 70%;
  padding: 20px;
}

.sidebar {
  width: 30%;
  padding: 20px;
  background-color: lightgray;
}

.descripcion {
  margin-bottom: 20px;
}

.noticias {
  display: flex;
  flex-wrap: wrap;
}

.noticia {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.noticia img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.info-noticia {
  background-color: white;
  padding: 10px;
  text-align: center;
}

.buscador {
  margin-bottom: 20px;
}

.buscador input {
  width: 70%;
  padding: 5px;
}

.buscador button {
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
}

.cuadro-sidebar {
  background-color: white;
  padding: 20px;
}

.metodos {
  background: aquamarine;
  text-align: center;
  padding: 40px;
}

.metodos h1 {
  margin-bottom: 20px;
}

.metodos img {
  margin-left: 110px;
  margin-right: 110px;
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.metodos:hover img {
  opacity: 1;
  transform: translateX(40px);
}


/* Estilos del pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.column {
  margin: 0 20px;
}

.column h3 {
  margin-bottom: 10px;
}

.column ul {
  list-style: none;
}

.column ul li {
  margin-bottom: 5px;
}

.footer-bottom {
  background-color: #222;
  padding: 10px 0;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

/* ICONOS */

.icon {
  width: 20px;
  top: 2.5px;
  position: relative;
}

.icon:hover {
  color: red;
}

.marquee{
  width: 1225px;
}

/* Estilos para el menú en versión móvil */
@media screen and (min-width: 374px) and (max-width: 768px) {
  .menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  /* Estilos para mostrar el menú desplegable al hacer clic en el botón del menú hamburguesa */
  .menu.active {
    display: block;
    position: absolute;
    left: -10px;
    top: 158px;
    text-align: end;
    line-height: 5;
    background: #de0000;
    width: 400px;
    padding-right: 15px;
  }

  .menu.active li{
    margin-right: 10px;
  }

  body {
    overflow-x: hidden;
  }
  
  .container {
    max-width: 100%;
  }

  .marquee{
    width: auto;
  }

  .content{
    width: 355px;
    top: 958px;
  }

  nav{
    display: flex;
    flex-direction: column;
  }
}